<div class="span10" style="background-color: #ffffff">
  <% @contents.each do |c| %>
   <div>
      <%= link_to c.title, content_path(c) %>
      <%= "#{time_ago_in_words(c.created_at)} ago " %>
      <br/>
      <%= truncate(c.content, length: 300) %>
      <br>
      <br>
  <% end %>
  </div>
</div>
<div class="span2" style="background-color: darkseagreen">
  <%= link_to 'New Article', new_content_path, class: 'btn btn-inverse span', style: 'float: right;' %>
</div>
