<% if user_signed_in? %>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-success span2', style: 'float: right;' %>
<% end %>
<div class="article_index">
<% @articles.each do |c| %>
      <div class="row-fluid article_show" style="">
        <div class="span10 " style="">
        <%= link_to c.title, article_slug_path(c), class: 'article_index_title' %>
        <%= "#{time_ago_in_words(c.created_at)} ago " %>
        <br/>
        <%= truncate(c.content, length: 300) %>
        <br>
        <br>
      </div>
      <div class="span2" style="background-color: darkseagreen">
        Image
      </div>
      </div>
  <% end %>
</div>